/* content styles ----------------------------------------------------------------------*/
body {
  font-family: "Trebuchet MS", Helvetica, Geneva, Arial, sans-serif;
}

body > h1 {
  text-align: center
}

.flipping .card-box div.card-stack {

  img {
    height: 100%;
    width: 100%;
  }

  * {
    border-radius: 10px;
  }

  h2, h3 {
    position: absolute;
    width: 100%;
    line-height: normal;
    color: #ffffff;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(0, 6, 22, 0.67);
  }

  h2 {
    margin-top: 1.6vh;
  }

  h3 {
    margin-top: 130px;
    display: none
  }

  .readmore {
    position: absolute;
    text-align: center;
    bottom: 7%;
    //bottom: 1.5vh;
    width: 100%;

    a {
      display: inline-block;
      line-height: normal;

      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.8);
      font-size: 16px;

      background: #3b9dc8;
      color: #fff;

      padding: 9px 20px 9px 20px;
      border-radius: 40px;

      transition: background ease .3s;

      &:hover {
        background-color: #00b3d7;
      }

      &:link, a:hover, a:visited {
        cursor: hand;
        text-decoration: none;
        color: #fff;
      }

    }

  }

}
